body {
    background-color: lightgrey;
}

h1, h2, p {
    color: purple;
    font-size: 2rem;
}

#greeting {
    font-size: 5rem;
}

/* article {
    line-height: 30px;
} */

article.ipsum {
    line-height: 30px;
}

.ipsum p {
    color: black;
}